Repository Hero64/lafkn: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome format --write, pnpm biome lint --write

fix: publish versions
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: pnpm biome format --write

chore: upgrade packages
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/bucket/package.json
  packages/common/package.json
  packages/dynamo/package.json
  packages/event/package.json
  packages/main/package.json
  packages/queue/package.json
  packages/resolver/package.json
  packages/schedule/package.json
  packages/state-machine/package.json
  pnpm-lock.yaml
Due: pnpm biome format --write

fix: correct exports field for service in package.json
  packages/bucket/package.json
  packages/dynamo/package.json
Due: pnpm biome format --write

chore: remove unnecessary path mappings from tsconfig.json
  apps/example/tsconfig.json
Due: pnpm biome format --write

feat: implement multi-attribute index support and enhance query capabilities
  packages/dynamo/src/main/model/model.types.ts
  packages/dynamo/src/service/query-builder/base/base.ts
  packages/dynamo/src/service/query-builder/dynamo-index/dynamo-index.spec.ts
  packages/dynamo/src/service/query-builder/dynamo-index/dynamo-index.ts
  packages/dynamo/src/service/query-builder/dynamo-index/dynamo-index.types.ts
  packages/dynamo/src/service/query-builder/find/find.ts
  packages/dynamo/src/service/query-builder/find/find.types.ts
  packages/dynamo/src/service/query-builder/query-builder.types.ts
  packages/dynamo/src/service/repository/repository.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat: add unit tests for QueryBuilderBase and implement multi-attribute index handling
  packages/dynamo/src/service/query-builder/base/base.spec.ts
  packages/dynamo/src/service/query-builder/base/base.ts
  packages/dynamo/src/service/query-builder/dynamo-index/dynamo-index.ts
Due: pnpm biome format --write, pnpm biome lint --write

docs: add readme
  README.md
  packages/auth/README.md
  packages/common/README.md
  packages/queue/README.md
  packages/resolver/README.md
  packages/schedule/README.md
  packages/state-machine/README.md
Due: none

chore: upgrade libraries
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/bucket/package.json
  packages/dynamo/package.json
  packages/event/package.json
  packages/main/package.json
  packages/queue/package.json
  packages/resolver/package.json
  packages/schedule/package.json
  packages/state-machine/package.json
  pnpm-lock.yaml
Due: pnpm biome format --write

chore: go back cdktf version
  packages/api/package.json
  packages/auth/package.json
Due: pnpm biome format --write

feat(dynamo): add replica support
  packages/dynamo/src/main/model/model.types.ts
  packages/dynamo/src/resolver/table/table.ts
Due: pnpm biome format --write, pnpm biome lint --write

test: add test
  packages/api/src/main/authorizer/autorizer.spec.ts
  packages/api/src/resolver/resolver.spec.ts
  packages/api/src/resolver/resolver.ts
  packages/bucket/src/main/bucket/bucket.spec.ts
  packages/bucket/src/main/bucket/bucket.ts
  packages/dynamo/src/main/model/model.spec.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat(dynamo): update query documentation
  packages/dynamo/src/service/query-builder/query-builder.types.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat: add resource resolver to services
  packages/common/src/decorators/lambda/lambda.types.ts
  packages/common/src/types/env.types.ts
  packages/common/src/types/resource.types.ts
  packages/common/src/types/services.types.ts
  packages/resolver/src/resources/environment/environment.ts
  packages/resolver/src/resources/lambda/lambda.types.ts
  packages/resolver/src/resources/role/role.spec.ts
  packages/resolver/src/resources/role/role.ts
  packages/resolver/src/resources/role/role.types.ts
  packages/resolver/src/utils/resolve-resource.utils.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat: add reset method
  packages/resolver/src/resources/resource/resource.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat(state-machine): enhance state machine integration with async handling and new schema definitions
  packages/state-machine/src/main/param/param.ts
  packages/state-machine/src/main/state-machine/state-machine.ts
  packages/state-machine/src/main/state-machine/state-machine.types.ts
  packages/state-machine/src/resolver/resolver.ts
  packages/state-machine/src/resolver/state-machine/schema/schema.ts
  packages/state-machine/src/resolver/state-machine/schema/schema.types.ts
  packages/state-machine/src/resolver/state-machine/schema/schema.utils.ts
  packages/state-machine/src/resolver/state-machine/state-machine.spec.ts
  packages/state-machine/src/resolver/state-machine/state-machine.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat(example): add state machine service example
  apps/example/src/modules/greeting/greeting.module.ts
  apps/example/src/modules/greeting/state-machine/greeting.state-machine.ts
  apps/example/src/modules/greeting/state-machine/simple.state-machine.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat: add changelog files for all packages with initial release and updated dependencies
  packages/api/CHANGELOG.md
  packages/auth/CHANGELOG.md
  packages/bucket/CHANGELOG.md
  packages/common/CHANGELOG.md
  packages/dynamo/CHANGELOG.md
  packages/event/CHANGELOG.md
  packages/main/CHANGELOG.md
  packages/queue/CHANGELOG.md
  packages/resolver/CHANGELOG.md
  packages/schedule/CHANGELOG.md
  packages/state-machine/CHANGELOG.md
Due: none

fix: update types field in package.json to point to lib/index.d.ts
  packages/common/package.json
  packages/main/package.json
  packages/resolver/package.json
Due: pnpm biome format --write

chore: update version to 0.1.1
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/bucket/CHANGELOG.md
  packages/bucket/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/dynamo/CHANGELOG.md
  packages/dynamo/package.json
  packages/event/CHANGELOG.md
  packages/event/package.json
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/queue/CHANGELOG.md
  packages/queue/package.json
  packages/resolver/CHANGELOG.md
  packages/resolver/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/state-machine/CHANGELOG.md
  packages/state-machine/package.json
Due: pnpm biome format --write

docs: update readme
  README.md
Due: none

fix: restart version
  packages/api/package.json
  packages/auth/package.json
  packages/bucket/package.json
  packages/common/package.json
  packages/dynamo/package.json
  packages/event/package.json
  packages/main/package.json
  packages/queue/package.json
  packages/resolver/package.json
  packages/schedule/package.json
  packages/state-machine/package.json
Due: pnpm biome format --write

fix: export resolver type
  packages/api/package.json
Due: pnpm biome format --write

Path conditions:
  pnpm biome format --write: any of: *.{ts,tsx,js,jsx,json}
  pnpm biome lint --write: any of: *.{ts,tsx,js,jsx}
